[Unit]
Description = Servicio que proporciona un saludo y la fecha actual

[Service]
ExecStart=/usr/local/bin/saludo.sh

[Install]
WantedBy=default.target
